@model IEnumerable<WoodMe.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>לקוחות</h2>

<p>
    <a asp-action="Create">צור לקוח חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                שם לקוח
            </th>
            <th>
                רחוב
            </th>
            <th>
                מספר בית
            </th>
            <th>
                עיר
            </th>
            <th>
                מספר טלפון
            </th>
            <th>
                כתובת דואר אלקטרוני
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ערוך</a> |
                <a asp-action="Details" asp-route-id="@item.Id">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">מחק</a>
            </td>
        </tr>
}
    </tbody>
</table>
