@model IEnumerable<WoodMe.Models.Product>

@{
    ViewData["Title"] = "IndexUser";
}

<head>
    <link rel="stylesheet" href="~/css/products.css" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>


</head>
<body>
    <h2>כל ה-WoodMe שלנו</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    שם המוצר
                </th>
                <th>
                    אורך
                </th>
                <th>
                    רוחב
                </th>
                <th>
                    טקסטורה
                </th>
                <th>
                    מחיר
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Width)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Texture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <a asp-action="Login">התחבר כמנהל</a>

</body>
